In [1]:
# Importing all necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')
from pymongo import MongoClient

In [2]:
uri = "mongodb+srv://rahulyadavv7000:Yadavrahul7000@cluster0.rtewdtg.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Create a new client and connect to the server
client = MongoClient(uri)
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [3]:
db = client['CSV']
collection = db['csv_data']

In [4]:
# Importing csv file
data = pd.DataFrame(list(collection.find()))

In [5]:
data =data.drop("_id" , axis =1)
data= data.drop("ID" , axis=1)

In [6]:
data.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default
0,100000.0,2,2,2,23,0,-1,-1,0,0,...,221.0,-159.0,567.0,380.0,601.0,0.0,581.0,1687.0,1542.0,{'payment': {'next': {'month': 0}}}
1,500000.0,1,1,2,29,0,0,0,0,0,...,542653.0,483003.0,473944.0,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0,{'payment': {'next': {'month': 0}}}
2,50000.0,1,2,1,57,-1,0,-1,0,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,{'payment': {'next': {'month': 0}}}
3,50000.0,1,2,2,33,2,0,0,0,0,...,22734.0,23217.0,23680.0,1718.0,1500.0,1000.0,1000.0,1000.0,716.0,{'payment': {'next': {'month': 1}}}
4,450000.0,2,1,1,40,-2,-2,-2,-2,-2,...,560.0,0.0,0.0,19428.0,1473.0,560.0,0.0,0.0,1128.0,{'payment': {'next': {'month': 1}}}

In [7]:
data.rename(columns={'default': 'default.payment.next.month'}, inplace=True)

In [8]:
data.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,100000.0,2,2,2,23,0,-1,-1,0,0,...,221.0,-159.0,567.0,380.0,601.0,0.0,581.0,1687.0,1542.0,{'payment': {'next': {'month': 0}}}
1,500000.0,1,1,2,29,0,0,0,0,0,...,542653.0,483003.0,473944.0,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0,{'payment': {'next': {'month': 0}}}
2,50000.0,1,2,1,57,-1,0,-1,0,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,{'payment': {'next': {'month': 0}}}
3,50000.0,1,2,2,33,2,0,0,0,0,...,22734.0,23217.0,23680.0,1718.0,1500.0,1000.0,1000.0,1000.0,716.0,{'payment': {'next': {'month': 1}}}
4,450000.0,2,1,1,40,-2,-2,-2,-2,-2,...,560.0,0.0,0.0,19428.0,1473.0,560.0,0.0,0.0,1128.0,{'payment': {'next': {'month': 1}}}

In [9]:
# Define a function to map the nested dictionary to a numerical value
def map_to_numerical(record):
    if record == {'payment': {'next': {'month': 1}}}:
        return 1
    elif record == {'payment': {'next': {'month': 0}}}:
        return 0
    else:
        return record  # return the original record if it doesn't match the patterns

# Apply the function to the 'default' column
data['default.payment.next.month'] = data['default.payment.next.month'].apply(map_to_numerical)

In [10]:
data.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,100000.0,2,2,2,23,0,-1,-1,0,0,...,221.0,-159.0,567.0,380.0,601.0,0.0,581.0,1687.0,1542.0,0
1,500000.0,1,1,2,29,0,0,0,0,0,...,542653.0,483003.0,473944.0,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0,0
2,50000.0,1,2,1,57,-1,0,-1,0,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
3,50000.0,1,2,2,33,2,0,0,0,0,...,22734.0,23217.0,23680.0,1718.0,1500.0,1000.0,1000.0,1000.0,716.0,1
4,450000.0,2,1,1,40,-2,-2,-2,-2,-2,...,560.0,0.0,0.0,19428.0,1473.0,560.0,0.0,0.0,1128.0,1

In [11]:
data.columns

Index(['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2',
       'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default.payment.next.month'],
      dtype='object')

In [12]:
# Extract features (independent variables) by dropping the target variable ('default.payment.next.month')
X = data.drop('default.payment.next.month',axis=1)
# Extract the target variable ('default.payment.next.month')
y = data['default.payment.next.month']

In [13]:
X.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,100000.0,2,2,2,23,0,-1,-1,0,0,...,601.0,221.0,-159.0,567.0,380.0,601.0,0.0,581.0,1687.0,1542.0
1,500000.0,1,1,2,29,0,0,0,0,0,...,445007.0,542653.0,483003.0,473944.0,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0
2,50000.0,1,2,1,57,-1,0,-1,0,0,...,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0
3,50000.0,1,2,2,33,2,0,0,0,0,...,22102.0,22734.0,23217.0,23680.0,1718.0,1500.0,1000.0,1000.0,1000.0,716.0
4,450000.0,2,1,1,40,-2,-2,-2,-2,-2,...,1473.0,560.0,0.0,0.0,19428.0,1473.0,560.0,0.0,0.0,1128.0

In [14]:
y.head()

0    0
1    0
2    0
3    1
4    1
Name: default.payment.next.month, dtype: int64

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   LIMIT_BAL                   30000 non-null  float64
 1   SEX                         30000 non-null  int64
 2   EDUCATION                   30000 non-null  int64
 3   MARRIAGE                    30000 non-null  int64
 4   AGE                         30000 non-null  int64
 5   PAY_0                       30000 non-null  int64
 6   PAY_2                       30000 non-null  int64
 7   PAY_3                       30000 non-null  int64
 8   PAY_4                       30000 non-null  int64
 9   PAY_5                       30000 non-null  int64
 10  PAY_6                       30000 non-null  int64
 11  BILL_AMT1                   30000 non-null  float64
 12  BILL_AMT2                   30000 non-null  float64
 13  BILL_AMT3                   30000 non-null  float64
 14  BILL_AMT4                   30000 non-null  float64
 15  BILL_AMT5                   30000 non-null  float64
 16  BILL_AMT6                   30000 non-null  float64
 17  PAY_AMT1                    30000 non-null  float64
 18  PAY_AMT2                    30000 non-null  float64
 19  PAY_AMT3                    30000 non-null  float64
 20  PAY_AMT4                    30000 non-null  float64
 21  PAY_AMT5                    30000 non-null  float64
 22  PAY_AMT6                    30000 non-null  float64
 23  default.payment.next.month  30000 non-null  int64
dtypes: float64(13), int64(11)
memory usage: 5.5 MB

In [16]:
# Define which columns should be ordinal-encoded and which should be scaled
# List of numerical columns that will be scaled
numerical_cols = ['LIMIT_BAL', 'AGE', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5',
                    'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']


# List of categorical columns that will be ordinal-encoded
categorical_cols = ['SEX', 'EDUCATION', 'MARRIAGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6']

In [17]:
# Import necessary tools from scikit-learn
from sklearn.preprocessing import StandardScaler   # StandardScaler is used for scaling (normalizing) numerical features.

# Import tools for constructing pipelines and column transformations
from sklearn.pipeline import Pipeline              # Pipeline is used to chain multiple transformers and an estimator into a single object.
from sklearn.compose import ColumnTransformer      # ColumnTransformer is used to apply different transformers to different columns of a DataFrame.

In [18]:
# Define a pipeline for numerical feature scaling
num_pipeline = Pipeline(
    steps=[
        ('scaler', StandardScaler())  # StandardScaler is used to scale (normalize) numerical features.
    ]
)

In [19]:
# For Categorigal Pipeline
cat_pipeline=Pipeline(
    steps=[
    ('scaler',StandardScaler())
    ]
)

In [20]:
# Define a ColumnTransformer for preprocessing numerical and categorical features separately
preprocessor = ColumnTransformer([
    ('num_pipeline', num_pipeline, numerical_cols),  # Apply num_pipeline to numerical_cols
    ('cat_pipeline', cat_pipeline, categorical_cols)  # Apply cat_pipeline to categorical_cols
])

In [21]:
# Import train_test_split function from scikit-learn
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
# X_train: Features for training
# X_test: Features for testing
# y_train: Target variable for training
# y_test: Target variable for testing
# test_size=0.30: Splitting the data into 70% training and 30% testing
# random_state=30: Random seed for reproducibility
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=30)

In [22]:
# Apply the preprocessor (ColumnTransformer) to transform the training features
preprocessor.fit_transform(X_train)

array([[ 0.25423753, -0.69919886,  1.46097803, ...,  0.18857563,
         0.23572005,  0.2533547 ],
       [ 2.94968365, -0.04292842,  0.44008944, ...,  0.18857563,
         0.23572005,  0.2533547 ],
       [ 0.48527577, -0.69919886, -0.65352418, ..., -0.66287315,
        -0.64196098, -0.61218112],
       ...,
       [-0.28485169,  1.37899087, -0.68365544, ...,  1.89147321,
         0.23572005, -0.61218112],
       [-0.90095366,  0.50396361, -0.04995488, ...,  0.18857563,
         0.23572005,  0.2533547 ],
       [ 0.25423753, -1.13671249, -0.38273399, ..., -0.66287315,
         0.23572005, -0.61218112]])

In [23]:
# Apply the preprocessor (ColumnTransformer) to transform the testing features
preprocessor.transform(X_test)

array([[-1.1319919 ,  0.72272043, -0.43988088, ...,  1.89147321,
         1.99108209,  1.98442633],
       [ 0.25423753,  1.48836928, -0.67610239, ..., -0.66287315,
        -0.64196098, -0.61218112],
       [ 0.40826302, -0.26168523, -0.68101187, ..., -0.66287315,
        -0.64196098, -0.61218112],
       ...,
       [-1.1319919 , -0.26168523, -0.44168822, ...,  0.18857563,
         0.23572005,  0.2533547 ],
       [ 0.48527577, -0.58982046,  2.47420566, ...,  0.18857563,
         0.23572005,  0.2533547 ],
       [-0.05381346,  0.72272043, -0.6889156 , ..., -1.51432194,
        -1.519642  , -1.47771693]])

In [24]:
# Get the output feature names after applying the preprocessor (ColumnTransformer)
preprocessor.get_feature_names_out()

array(['num_pipeline__LIMIT_BAL', 'num_pipeline__AGE',
       'num_pipeline__BILL_AMT1', 'num_pipeline__BILL_AMT2',
       'num_pipeline__BILL_AMT3', 'num_pipeline__BILL_AMT4',
       'num_pipeline__BILL_AMT5', 'num_pipeline__BILL_AMT6',
       'num_pipeline__PAY_AMT1', 'num_pipeline__PAY_AMT2',
       'num_pipeline__PAY_AMT3', 'num_pipeline__PAY_AMT4',
       'num_pipeline__PAY_AMT5', 'num_pipeline__PAY_AMT6',
       'cat_pipeline__SEX', 'cat_pipeline__EDUCATION',
       'cat_pipeline__MARRIAGE', 'cat_pipeline__PAY_0',
       'cat_pipeline__PAY_2', 'cat_pipeline__PAY_3',
       'cat_pipeline__PAY_4', 'cat_pipeline__PAY_5',
       'cat_pipeline__PAY_6'], dtype=object)

In [25]:
# Apply preprocessor to transform and create DataFrames for training and testing features
X_train = pd.DataFrame(preprocessor.fit_transform(X_train), columns=preprocessor.get_feature_names_out())
X_test = pd.DataFrame(preprocessor.transform(X_test), columns=preprocessor.get_feature_names_out())

In [26]:
# Display the first few rows of X_train DataFrame
print("X_train:")
print(X_train.head())

X_train:
   num_pipeline__LIMIT_BAL  num_pipeline__AGE  num_pipeline__BILL_AMT1  \
0                 0.254238          -0.699199                 1.460978
1                 2.949684          -0.042928                 0.440089
2                 0.485276          -0.699199                -0.653524
3                -0.130826          -0.152307                -0.676777
4                 0.254238           0.941477                 0.277551

   num_pipeline__BILL_AMT2  num_pipeline__BILL_AMT3  num_pipeline__BILL_AMT4  \
0                 1.505477                 1.243815                 1.180981
1                 0.008435                 0.036425                -0.080873
2                -0.668742                -0.648522                -0.615553
3                -0.684776                -0.679672                -0.655463
4                 0.198986                 0.120573                 0.044224

   num_pipeline__BILL_AMT5  num_pipeline__BILL_AMT6  num_pipeline__PAY_AMT1  \
0                 1.348120                 1.450474                0.028025
1                -0.078758                -0.522346               -0.155838
2                -0.597117                -0.605260               -0.265570
3                -0.646544                -0.637909               -0.332849
4                -0.121633                -0.252079               -0.232486

   num_pipeline__PAY_AMT2  ...  num_pipeline__PAY_AMT6  cat_pipeline__SEX  \
0               -0.060061  ...               -0.010949           0.806972
1               -0.033957  ...                0.515266           0.806972
2               -0.175594  ...                0.261467           0.806972
3               -0.279042  ...               -0.264293           0.806972
4               -0.201601  ...               -0.164664          -1.239201

   cat_pipeline__EDUCATION  cat_pipeline__MARRIAGE  cat_pipeline__PAY_0  \
0                 0.181794               -1.059194             1.782897
1                -1.088222                0.860298             0.016403
2                 0.181794                0.860298            -0.866844
3                -1.088222                0.860298            -0.866844
4                 0.181794               -1.059194             0.016403

   cat_pipeline__PAY_2  cat_pipeline__PAY_3  cat_pipeline__PAY_4  \
0             0.111998             0.135824             0.188576
1             0.111998             0.135824             0.188576
2            -0.719671            -0.696238            -0.662873
3            -0.719671            -1.528301            -0.662873
4             0.111998             0.135824             0.188576

   cat_pipeline__PAY_5  cat_pipeline__PAY_6
0             0.235720             0.253355
1             0.235720             0.253355
2            -0.641961            -0.612181
3             0.235720            -0.612181
4             0.235720             0.253355

[5 rows x 23 columns]

In [27]:
# Display the first few rows of X_test DataFrame
print("\nX_test:")
print(X_test.head())

X_test:
   num_pipeline__LIMIT_BAL  num_pipeline__AGE  num_pipeline__BILL_AMT1  \
0                -1.131992           0.722720                -0.439881
1                 0.254238           1.488369                -0.676102
2                 0.408263          -0.261685                -0.681012
3                -0.823941          -1.246091                -0.049793
4                 2.025531           0.722720                -0.169711

   num_pipeline__BILL_AMT2  num_pipeline__BILL_AMT3  num_pipeline__BILL_AMT4  \
0                -0.413149                -0.393661                -0.357062
1                -0.671519                -0.665843                -0.652206
2                -0.685669                -0.665960                -0.583523
3                -0.617696                -0.629686                -0.629932
4                -0.518227                -0.201100                 1.127422

   num_pipeline__BILL_AMT5  num_pipeline__BILL_AMT6  num_pipeline__PAY_AMT1  \
0                -0.321870                -0.297563               -0.239161
1                -0.658695                -0.615176               -0.277222
2                -0.656626                -0.589691               -0.332849
3                -0.612109                -0.590714               -0.051375
4                 0.721465                -0.022766                0.366005

   num_pipeline__PAY_AMT2  ...  num_pipeline__PAY_AMT6  cat_pipeline__SEX  \
0               -0.240370  ...               -0.295606           0.806972
1               -0.233119  ...               -0.241521           0.806972
2               -0.230412  ...               -0.294695          -1.239201
3               -0.228381  ...               -0.005655           0.806972
4                1.310721  ...                1.387226           0.806972

   cat_pipeline__EDUCATION  cat_pipeline__MARRIAGE  cat_pipeline__PAY_0  \
0                 0.181794               -1.059194             2.666144
1                -1.088222               -1.059194            -0.866844
2                -1.088222               -1.059194            -0.866844
3                -1.088222                0.860298             0.016403
4                 0.181794               -1.059194            -0.866844

   cat_pipeline__PAY_2  cat_pipeline__PAY_3  cat_pipeline__PAY_4  \
0             1.775336             1.799950             1.891473
1            -0.719671            -0.696238            -0.662873
2            -0.719671            -0.696238            -0.662873
3            -0.719671             0.135824             0.188576
4            -0.719671            -0.696238            -0.662873

   cat_pipeline__PAY_5  cat_pipeline__PAY_6
0             1.991082             1.984426
1            -0.641961            -0.612181
2            -0.641961            -0.612181
3            -0.641961            -0.612181
4             0.235720            -0.612181

[5 rows x 23 columns]

In [28]:
# Import necessary libraries for model training and evaluation
from sklearn.model_selection import train_test_split     # Train/test split
from sklearn.linear_model import (                       # Linear models
    LogisticRegression, Lasso, Ridge, ElasticNet
    
)
from sklearn.svm import SVC                              # Support Vector Machine (SVM)
from sklearn.tree import DecisionTreeClassifier          # Decision Tree Classifier
from sklearn.naive_bayes import GaussianNB               # Gaussian Naive Bayes
from sklearn.neighbors import KNeighborsClassifier       # K-Nearest Neighbors (KNN)
from sklearn.ensemble import (                           # Ensemble models
    RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
)
from sklearn.metrics import (                            # Metrics for model evaluation
    confusion_matrix, f1_score, precision_score, recall_score, 
    accuracy_score, roc_auc_score, classification_report, 
    roc_curve, auc, r2_score, mean_absolute_error, mean_squared_error
)

In [29]:
def evaluate_model(true, predicted):
    """
    Evaluate a regression model using different metrics.

    Parameters:
    - true: array-like, true target values
    - predicted: array-like, predicted target values

    Returns:
    - mae: float, mean absolute error
    - rmse: float, root mean squared error
    - r2_square: float, R-squared score
    """
    # Calculate mean absolute error
    mae = mean_absolute_error(true, predicted)
    
    # Calculate mean squared error
    mse = mean_squared_error(true, predicted)
    
    # Calculate root mean squared error
    rmse = np.sqrt(mse)
    
    # Calculate R-squared score
    r2_square = r2_score(true, predicted)
    
    return mae, rmse, r2_square

In [30]:


# Define a dictionary of classification models to train
models = {
    'SVM': SVC(C=0.01, degree=5, kernel='poly'),                   # Support Vector Machine with polynomial kernel
    'KNN': KNeighborsClassifier(),                                 # K-Nearest Neighbors
    'DecisionTree': DecisionTreeClassifier(),                       # Decision Tree Classifier
    'GradientBoosting': GradientBoostingClassifier(),               # Gradient Boosting Classifier
    'LogisticRegression': LogisticRegression(max_iter=1000),        # Logistic Regression
    'AdaBoosting': AdaBoostClassifier(),                            # AdaBoost Classifier
    'Naive Bayes': GaussianNB()                                     # Gaussian Naive Bayes
}

In [31]:
# Initialize empty lists to store trained models and evaluation metrics
trained_model_list = []  # List to store trained models
model_list = []          # List to store model names
accuracy_list = []       # List to store accuracy scores
precision_list = []      # List to store precision scores
recall_list = []         # List to store recall scores
f1_list = []             # List to store F1 scores

In [32]:
# Extract model names from the dictionary keys
model_names = list(models)

# Print the list of model names
print(model_names)

['SVM', 'KNN', 'DecisionTree', 'GradientBoosting', 'LogisticRegression', 'AdaBoosting', 'Naive Bayes']

In [33]:
# Iterate over the models dictionary and print each model
for i in range(len(list(models))):
    # Get the model object from the values of the models dictionary
    model = list(models.values())[i]
    
    # Print the model object
    print(model)

SVC(C=0.01, degree=5, kernel='poly')
KNeighborsClassifier()
DecisionTreeClassifier()
GradientBoostingClassifier()
LogisticRegression(max_iter=1000)
AdaBoostClassifier()
GaussianNB()

In [34]:
# Get the keys of the models dictionary
model_keys = models.keys()

# Print the keys
print(model_keys)

dict_keys(['SVM', 'KNN', 'DecisionTree', 'GradientBoosting', 'LogisticRegression', 'AdaBoosting', 'Naive Bayes'])

In [35]:
# Get the values (model objects) of the models dictionary
model_values = models.values()

# Print the values
print(model_values)

dict_values([SVC(C=0.01, degree=5, kernel='poly'), KNeighborsClassifier(), DecisionTreeClassifier(), GradientBoostingClassifier(), LogisticRegression(max_iter=1000), AdaBoostClassifier(), GaussianNB()])

In [36]:
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train)

    # Make Predictions
    y_pred = model.predict(X_test)

    # This is a validation (test) score
     # Calculate evaluation metrics
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred)


    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print("Accuracy:", accuracy)
    print("Precision:", precision)
    print("Recall:", recall)
    print("F1 Score:", f1)

    accuracy_list.append(accuracy)
    precision_list.append(precision)
    recall_list.append(recall)
    f1_list.append(f1)

    print('=' * 35)
    print('\n')

SVM
Model Training Performance
Accuracy: 0.7834444444444445
Precision: 0.5897435897435898
Recall: 0.0350253807106599
F1 Score: 0.06612362242453283
===================================


KNN
Model Training Performance
Accuracy: 0.7906666666666666
Precision: 0.5359531772575251
Recall: 0.3253807106598985
F1 Score: 0.4049273531269741
===================================


DecisionTree
Model Training Performance
Accuracy: 0.7132222222222222
Precision: 0.3599266391563503
Recall: 0.39847715736040606
F1 Score: 0.3782221151529752
===================================


GradientBoosting
Model Training Performance
Accuracy: 0.8185555555555556
Precision: 0.6609360076408787
Recall: 0.35126903553299493
F1 Score: 0.458733841564468
===================================


LogisticRegression
Model Training Performance
Accuracy: 0.8095555555555556
Precision: 0.693939393939394
Recall: 0.23248730964467004
F1 Score: 0.3482889733840304
===================================


AdaBoosting
Model Training Performance
Accuracy: 0.8162222222222222
Precision: 0.6673728813559322
Recall: 0.3197969543147208
F1 Score: 0.43239533287577214
===================================


Naive Bayes
Model Training Performance
Accuracy: 0.7582222222222222
Precision: 0.45850120870265915
Recall: 0.5776649746192893
F1 Score: 0.5112309074573226
===================================